.no-shadow {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}

.indenticon {
  height: 50px;
  width: 50px;
  border: 1px solid #979797;
  background-color: #D8D8D8;
}
