{
  "plugins": [
    "stylelint-scss",
    "@namics/stylelint-bem"
  ],
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "no-empty-source": null,
    "scss/no-global-function-names": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep"]
      }
    ],
    "scss/selector-nest-combinators": "always",
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-class-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$",
    "selector-nested-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$"
  },
  "overrides": [
    {
      "files": ["./src/**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ]
}
