{
  "plugins": [
    "stylelint-scss",
    "@namics/stylelint-bem"
  ],
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "no-empty-source": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep"]
      }
    ],
    "scss/selector-nest-combinators": "always",
    "scss/selector-no-redundant-nesting-selector": true,
    "plugin/stylelint-bem-namics": {
      "patternPrefixes": [],
      "helperPrefixes": []
    },
    "selector-class-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$",
    "selector-nested-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$"
  }
}
