version: 2.1

var_1: &docker_image circleci/node:10.13.0-browsers
var_2: &sdk_cache_key raiden-ts-{{ .Branch }}-{{ checksum "package-lock.json" }}
var_3: &dapp_cache_key raiden-dapp-{{ .Branch }}-{{ checksum "package-lock.json" }}
var_4: &sdk_working_dir ~/src/raiden-ts
var_5: &dapp_working_dir ~/src/raiden-dapp

anchor_1: &sdk_package_lock_key
  key: *sdk_cache_key

anchor_2: &attach_options
  at: ~/src/

anchor_3: &dapp_package_lock_key
  key: *dapp_cache_key

executors:
  base-executor:
    working_directory: ~/src
    docker:
      - image: *docker_image

jobs:
  checkout:
    executor: base-executor
    working_directory: ~/src
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - ./*

  install_sdk:
    executor: base-executor
    working_directory: *sdk_working_dir
    steps:
      - attach_workspace: *attach_options
      - restore_cache: *sdk_package_lock_key
      - run: npm ci
      - save_cache:
          <<: *sdk_package_lock_key
          paths:
            - "node_modules"
      - persist_to_workspace:
          root: ~/src
          paths:
            - ./*

  install_dapp:
    executor: base-executor
    working_directory: *dapp_working_dir
    steps:
      - attach_workspace: *attach_options
      - restore_cache: *sdk_package_lock_key
      - restore_cache: *dapp_package_lock_key
      - run: npm ci
      - save_cache:
          <<: *dapp_package_lock_key
          paths:
            - "node_modules"
      - persist_to_workspace:
          root: ~/src
          paths:
            - ./*

  lint_sdk:
    executor: base-executor
    working_directory: *sdk_working_dir
    steps:
      - attach_workspace: *attach_options
      - run: npm run lint

  lint_dapp:
    executor: base-executor
    working_directory: *dapp_working_dir
    steps:
      - attach_workspace: *attach_options
      - run: npm run lint:check

  test_sdk:
    executor: base-executor
    working_directory: *sdk_working_dir
    steps:
      - attach_workspace: *attach_options
      - run:
          name: Run unit tests
          command: npm run test -- --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
      - run:
          name: "Upload coverage"
          command: cd .. && bash <(curl -s https://codecov.io/bash) -F sdk

  test_dapp:
    executor: base-executor
    working_directory: *dapp_working_dir
    steps:
      - attach_workspace: *attach_options
      - run:
          name: Run unit tests
          command: npm run test:unit -- --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
      - run:
          name: "Upload coverage"
          command: cd .. && bash <(curl -s https://codecov.io/bash) -F dapp

  build_dapp:
    executor: base-executor
    working_directory: *dapp_working_dir
    steps:
      - attach_workspace: *attach_options
      - run: npm run build
      - persist_to_workspace:
          root: ~/src
          paths:
            - ./*

  generate_documentation:
    executor: base-executor
    working_directory: *sdk_working_dir
    steps:
      - attach_workspace: *attach_options
      - run: cd ../docs && ./generate_documentation.sh
      - persist_to_workspace:
          root: ~/src/
          paths:
           - ./raiden-dapp/dist/docs

  deploy_gh_pages:
    executor: base-executor
    working_directory: *dapp_working_dir
    steps:
      - attach_workspace: *attach_options
      - add_ssh_keys:
          fingerprints:
            - "ed:c9:40:2a:96:6c:90:fd:46:18:2d:bf:8d:a8:a9:b3"
      - run: ./deploy.sh

workflows:
  version: 2
  default_workflow:
    jobs:
      - checkout
      - install_sdk:
          requires:
            - checkout
      - install_dapp:
          requires:
            - checkout
            - install_sdk
      - lint_sdk:
          requires:
            - install_sdk
      - lint_dapp:
          requires:
            - install_dapp
      - build_dapp:
          requires:
            - install_dapp
      - test_sdk:
          requires:
            - lint_sdk
      - test_dapp:
          requires:
            - lint_dapp
            - build_dapp
      - generate_documentation:
          requires:
            - test_dapp
          filters:
            branches:
              only:
                - master
      - deploy_gh_pages:
          requires:
            - generate_documentation
          filters:
            branches:
              only:
                - master
