.address__container[data-v-0911415e] {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.address__tooltip[data-v-0911415e] {
  text-align: center;
}
.address__label[data-v-0911415e] {
  cursor: pointer;
  margin: 0;
  border-radius: 3px;
}
.address__label[data-v-0911415e]:hover {
  background-color: #0a6e87;
  color: #ffffff;
}
.address__input[data-v-0911415e] {
  color: #ffffff;
  width: 340px;
  text-align: center;
}
