.amount-input[data-v-bce3595c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
}
.amount-input[data-v-bce3595c]  .v-input {
  width: 100%;
}
.amount-input[data-v-bce3595c]  .v-input__slot {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 8px 16px;
  max-height: 49px;
  border: 1.5px solid transparent;
}
.amount-input[data-v-bce3595c]  .v-input__slot::before, .amount-input[data-v-bce3595c]  .v-input__slot::after {
  display: none;
}
.amount-input[data-v-bce3595c]  .v-input--is-focused .v-input__slot {
  border: 1.5px solid #28a5c8;
}
.amount-input[data-v-bce3595c]  input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
  caret-color: white !important;
}
.amount-input[data-v-bce3595c]  input:focus {
  outline: 0;
}
.amount-input[data-v-bce3595c]  .v-messages {
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.amount-input[data-v-bce3595c]  .v-messages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
@media only screen and (max-width: 600px) {
.amount-input[data-v-bce3595c]  .v-messages__wrapper {
    padding-left: 10px;
}
}
.amount-input[data-v-bce3595c]  .v-messages__message {
  color: #646464;
  line-height: 1.1;
}
.amount-input__token-symbol[data-v-bce3595c] {
  font-family: Roboto, sans-serif;
  color: #969696;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.amount-input__label[data-v-bce3595c] {
  color: #0a6e87;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
.error-message[data-v-14000ce2] {
  width: 100%;
  text-align: left;
}
.error-message__image[data-v-14000ce2] {
  max-width: 75px;
  margin: 15px auto;
}
.error-message__title[data-v-14000ce2] {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.error-message__label[data-v-14000ce2] {
  font-weight: bold;
  margin-bottom: 15px;
}
