.pfs-fees-dialog__done {
  height: 110px;
  width: 110px;
  margin: 0 auto;
}
.transfer-progress-dialog__description[data-v-a7369598] {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding-top: 10px;
}
.transfer-progress-dialog__progress-steps[data-v-a7369598] {
  padding: 0;
  list-style-type: none;
}
.transfer-progress-dialog__progress-step[data-v-a7369598] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.transfer-progress-dialog__progress-step[data-v-a7369598]:after {
  content: " ";
  width: 14px;
  height: 14px;
  background-image: url(../img/done.51f3a970.svg);
  background-size: 14px;
  display: inline-block;
  margin-left: 7px;
}
.transfer-progress-dialog__error[data-v-a7369598], .transfer-progress-dialog__done[data-v-a7369598] {
  height: 110px;
  width: 110px;
  margin: 0 auto;
}
.stepper-divider[data-v-be2f6d94] {
  border: 1px solid #646464 !important;
}
.stepper-divider--active[data-v-be2f6d94] {
  border-color: #28a5c8 !important;
}
.stepper-step[data-v-cec17d02]  .v-stepper__label {
  display: block !important;
  text-align: center;
}
@media only screen and (max-width: 600px) {
.stepper-step[data-v-cec17d02]  .v-stepper__label {
    font-size: 12px;
}
}
.stepper-step[data-v-cec17d02]  .v-stepper__step__step {
  background: transparent !important;
  border: 2px solid #646464 !important;
}
.stepper-step--upcoming[data-v-cec17d02]  .v-stepper__step__step {
  background-color: #646464 !important;
}
.stepper-step--active[data-v-cec17d02]  .v-stepper__step__step {
  border-color: #28a5c8 !important;
  background: #28a5c8 !important;
}
.stepper-step--active[data-v-cec17d02]  .v-stepper__label {
  color: #28a5c8;
  font-weight: bold;
}
.find-routes[data-v-574881c7] {
  text-align: center;
}
.find-routes__title[data-v-574881c7] {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.find-routes__subtitle[data-v-574881c7] {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}
.find-routes__table[data-v-574881c7] {
  margin: 20px 0 50px;
}
.find-routes__table.v-data-table[data-v-574881c7] {
  background-color: transparent !important;
}
.find-routes__table[data-v-574881c7]  table {
  overflow: hidden !important;
}
.find-routes__table[data-v-574881c7]  th {
  font-size: 16px;
  border: none !important;
}
@media only screen and (max-width: 600px) {
.find-routes__table[data-v-574881c7]  th {
    padding: 0 !important;
}
}
.find-routes__table[data-v-574881c7]  td {
  border: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 600px) {
.find-routes__table[data-v-574881c7]  td {
    height: auto;
    padding: 0;
}
}
.find-routes__table[data-v-574881c7]  .v-data-table__selected {
  background: rgba(255, 255, 255, 0.1) !important;
}
.find-routes__table[data-v-574881c7]  tbody tr:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}
.find-routes__table[data-v-574881c7]  .v-icon {
  color: #28a5c8;
}
.find-routes__spinner-wrapper[data-v-574881c7] {
  margin: 20px;
}
.pathfinding-services[data-v-44ef8d0e] {
  padding-bottom: 50px;
}
.pathfinding-services__error[data-v-44ef8d0e] {
  width: 100%;
  text-align: left;
}
.pathfinding-services__table[data-v-44ef8d0e] {
  margin-bottom: 20px;
}
.pathfinding-services__table__pfs[data-v-44ef8d0e], .pathfinding-services__table__price[data-v-44ef8d0e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 42px;
}
.pathfinding-services__table.v-data-table[data-v-44ef8d0e] {
  background-color: transparent;
}
.pathfinding-services__table[data-v-44ef8d0e]  tr:hover {
  background: rgba(40, 165, 200, 0.3) !important;
}
.pathfinding-services__table[data-v-44ef8d0e]  .v-icon {
  color: #28a5c8;
}
.pathfinding-services__table[data-v-44ef8d0e]  th {
  font-size: 16px;
  border: none !important;
}
@media only screen and (max-width: 600px) {
.pathfinding-services__table[data-v-44ef8d0e]  th {
    padding: 0 !important;
}
}
.pathfinding-services__table[data-v-44ef8d0e]  td {
  border: none !important;
  height: 74px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 600px) {
.pathfinding-services__table[data-v-44ef8d0e]  td {
    height: auto;
    padding: 0 !important;
}
}
.pathfinding-services__table[data-v-44ef8d0e]  .v-data-table__selected {
  background: rgba(255, 255, 255, 0.1) !important;
}
.pathfinding-services__table[data-v-44ef8d0e]  .v-data-table__mobile-row__header, .pathfinding-services__table[data-v-44ef8d0e]  .v-data-table__mobile-row__cell {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.transfer-summary[data-v-383f5787] {
  width: 100%;
}
@media only screen and (max-width: 600px) {
.transfer-summary__header[data-v-383f5787] {
    margin-top: -12px;
}
}
.transfer-summary__sub-header[data-v-383f5787] {
  margin-top: 25px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
.transfer-summary__sub-header[data-v-383f5787] {
    margin-top: 0;
}
}
.transfer-summary__row[data-v-383f5787] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.transfer-summary__row > span[data-v-383f5787] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transfer-summary__row > span[data-v-383f5787]:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.transfer-summary__row > span[data-v-383f5787]:last-child {
  margin-left: 5px;
}
.transfer-summary__row--total[data-v-383f5787] {
  font-weight: bold;
  font-size: 18px;
}
.transfer-summary__checkmark[data-v-383f5787] {
  position: absolute;
  right: -26px;
  width: 16px;
  height: 16px;
}
.transfer-summary__separator[data-v-383f5787] {
  margin: 10px 0;
}
.transfer-summary__explanation[data-v-383f5787] {
  text-align: left;
  list-style: none;
  counter-reset: item;
  padding-left: 7px;
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
.transfer-summary__explanation[data-v-383f5787] {
    margin-top: 10px;
}
}
.transfer-summary__explanation li[data-v-383f5787] {
  counter-increment: item;
  margin-bottom: 15px;
  position: relative;
  font-size: 12px;
}
.transfer-summary__explanation li[data-v-383f5787]:before {
  margin-right: 5px;
  content: counter(item);
  position: absolute;
  left: -5px;
  top: -4px;
  font-size: 10px;
}
.udc-status[data-v-1ce5e474] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.udc-status__capacity[data-v-1ce5e474] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.udc-status__capacity__amount[data-v-1ce5e474] {
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  vertical-align: middle;
}
.udc-status__capacity__amount--low[data-v-1ce5e474] {
  color: #ea6464;
}
.udc-status__capacity__deposit-button[data-v-1ce5e474] {
  width: 32px;
  margin-left: 6px;
}
.udc-status__description[data-v-1ce5e474] {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #646464;
}
.udc-status__description--low[data-v-1ce5e474] {
  color: #ea6464;
}
.udc-status__deposit-button[data-v-1ce5e474] {
  vertical-align: middle;
}
.transfer-steps[data-v-c39bea32] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px 60px 50px;
}
@media only screen and (max-width: 600px) {
.transfer-steps[data-v-c39bea32] {
    padding: 0 10px 50px;
}
}
.transfer-steps__stepper[data-v-c39bea32] {
  background: transparent !important;
  margin: auto;
}
.transfer-steps__stepper__items[data-v-c39bea32] {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
.transfer-steps__stepper__items[data-v-c39bea32] {
    margin-top: 0px;
}
}
.transfer-steps__processing-transfer__title[data-v-c39bea32] {
  font-size: 36px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}
.transfer-steps__processing-transfer__description[data-v-c39bea32] {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-top: 2rem;
}
.v-dialog__content--active[data-v-c39bea32] {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
