.no-channels-dialog__warning[data-v-0ccdbf26] {
  /* Blue to red */
  -webkit-filter: hue-rotate(165deg);
          filter: hue-rotate(165deg);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 45px;
}
.no-shadow[data-v-1c8a0c74] {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}
.indenticon[data-v-1c8a0c74] {
  height: 50px;
  width: 50px;
  border: 1px solid #979797;
  background-color: #d8d8d8;
}
.pending-chip[data-v-1c8a0c74] {
  background-color: rgba(253, 211, 39, 0.3) !important;
}
.success-chip[data-v-1c8a0c74] {
  background-color: rgba(29, 197, 18, 0.3) !important;
}
.failed-chip[data-v-1c8a0c74] {
  background-color: rgba(234, 100, 100, 0.3) !important;
}
.transaction[data-v-1c8a0c74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
}
.transaction__icon[data-v-1c8a0c74] {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
.transaction__icon[data-v-1c8a0c74] {
    margin-right: 7px;
}
}
.transaction__details-left[data-v-1c8a0c74], .transaction__details-right[data-v-1c8a0c74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.transaction__details-left[data-v-1c8a0c74] {
  margin-right: auto;
}
.transaction__details-left__address[data-v-1c8a0c74] {
  display: inline;
}
.transaction__details-left__time-stamp[data-v-1c8a0c74] {
  color: #646464;
  font-size: 12px;
}
.transaction__details-right[data-v-1c8a0c74] {
  margin-top: -4px;
}
.transaction__details-right__amount[data-v-1c8a0c74] {
  font-weight: bold;
}
.transaction__details-right__state[data-v-1c8a0c74]  .v-chip__content {
  margin: auto;
}
.transaction-history[data-v-1d8d579c] {
  background-color: #1e1e1e;
  border-radius: 15px;
  height: 100%;
  padding-bottom: 10px;
}
.transaction-history__heading[data-v-1d8d579c] {
  font-size: 18px;
  height: 50px;
  padding: 16px 0 0 22px;
}
.transaction-history__transactions[data-v-1d8d579c] {
  height: calc(300px - 50px);
  overflow-y: scroll;
  scrollbar-width: none;
}
.transaction-history__transactions[data-v-1d8d579c]::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 600px) {
.transaction-history__transactions[data-v-1d8d579c] {
    height: calc(260px - 50px);
}
}
.transaction-history__transactions__list[data-v-1d8d579c] {
  margin: 0 23px 0 23px;
  width: 100%;
}
.transaction-history__transactions__list > div[data-v-1d8d579c]:first-of-type {
  border: none;
  padding-top: 0px;
}
.transaction-history__transactions__list__item[data-v-1d8d579c] {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  padding-top: 22px;
}
.token-overlay[data-v-bdf2297a]  .v-overlay__scrim {
  background: -webkit-gradient(linear, left top, left bottom, from(#050505), to(#0a1923)) !important;
  background: linear-gradient(180deg, #050505 0%, #0a1923 100%) !important;
}
.token-overlay[data-v-bdf2297a]  .v-overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.token-overlay__connected-tokens[data-v-bdf2297a] {
  overflow-y: hidden;
}
.transfer-menus[data-v-720da132] {
  background-color: #1e1e1e;
  border-radius: 15px;
  height: 160px;
  padding-top: 18px;
}
@media only screen and (max-width: 600px) {
.transfer-menus[data-v-720da132] {
    height: 135px;
}
}
.transfer-menus__token-select[data-v-720da132] {
  height: 25px;
  padding-top: 6px;
  width: calc(100% - 46px);
  text-align: center;
}
.transfer-menus__token-select > span[data-v-720da132] {
  cursor: pointer;
  margin-left: 46px;
}
.transfer-menus__dot-menu[data-v-720da132] {
  width: 46px;
}
.transfer-menus__dot-menu__button[data-v-720da132] {
  margin-right: 10px;
}
.transfer-menus__dot-menu__menu[data-v-720da132] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 145px;
}
.transfer-menus__dot-menu__menu__deposit[data-v-720da132], .transfer-menus__dot-menu__menu__channels[data-v-720da132] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.transfer-menus > span[data-v-720da132] {
  font-size: 50px;
  font-weight: 300;
  height: 100px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
.transfer-menus > span[data-v-720da132] {
    height: 70px;
    font-size: 35px;
}
}
.transfer-inputs[data-v-47394a98] {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
.transfer-inputs[data-v-47394a98] {
    padding: 15px 10px;
}
}
.transfer-inputs__form[data-v-47394a98] {
  width: 100%;
}
.transfer-inputs__form__heading[data-v-47394a98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
.transfer-inputs__form__heading--title[data-v-47394a98] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 18px;
}
.transfer-inputs__form__heading__errors[data-v-47394a98] {
  color: var(--v-pending-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  text-align: right;
}
.transfer-inputs__form__address[data-v-47394a98] {
  width: 100%;
}
.transfer-inputs__form__amount[data-v-47394a98] {
  width: 70%;
  padding-right: 16px;
}
@media only screen and (max-width: 600px) {
.transfer-inputs__form__amount[data-v-47394a98] {
    width: 100%;
    padding-right: 0;
}
}
.transfer-inputs__form__button[data-v-47394a98] {
  width: 30% !important;
  margin-top: 16px;
}
@media only screen and (max-width: 600px) {
.transfer-inputs__form__button[data-v-47394a98] {
    width: 100% !important;
}
}
.transfer[data-v-6b606358] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.transfer__menus[data-v-6b606358], .transfer__inputs[data-v-6b606358], .transfer__list[data-v-6b606358] {
  margin: 0 auto 20px;
  width: 550px;
}
@media only screen and (max-width: 600px) {
.transfer__menus[data-v-6b606358], .transfer__inputs[data-v-6b606358], .transfer__list[data-v-6b606358] {
    margin: 0 10px 10px;
    width: calc(100% - 20px);
}
}
