.amount-display--inline[data-v-2ea71c4a] {
  display: inline;
}
.withdrawal[data-v-ebb216f2] {
  margin: 0 64px 0 64px;
}
@media only screen and (max-width: 600px) {
.withdrawal[data-v-ebb216f2] {
    margin: 0 20px 0 20px;
}
}
.withdrawal__info-box[data-v-ebb216f2] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 72px;
  padding: 16px;
  color: #7a7a80;
  background-color: #1c1c1c;
  border-radius: 8px;
  font-size: 12px;
}
.withdrawal__info-box__link[data-v-ebb216f2] {
  color: #7a7a80;
  text-decoration: underline;
}
.withdrawal__loading[data-v-ebb216f2], .withdrawal__empty[data-v-ebb216f2] {
  min-height: 490px;
}
.withdrawal__token-list[data-v-ebb216f2] {
  background-color: transparent;
}
.withdrawal__token-list__item[data-v-ebb216f2] {
  height: 72px;
  background-color: #1c1c1c;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}
.withdrawal__token-list__item__button[data-v-ebb216f2] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  color: #44ddff;
  background-color: #182d32;
}
.withdrawal__token-list__item__button[data-v-ebb216f2]:hover {
  background-color: #213e45;
  cursor: pointer;
}
.withdrawal__token-list__item__button img[data-v-ebb216f2] {
  margin-left: 5px;
}
.withdrawal__token-list__item__address[data-v-ebb216f2]  .address__label {
  font-weight: normal;
  color: #a9a9a9 !important;
}
