.amount-display[data-v-2ea71c4a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.amount-display--inline[data-v-2ea71c4a] {
  display: inline;
}
.amount-display--full-width[data-v-2ea71c4a] {
  width: 100%;
}
