.hub-list[data-v-62ced09a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 16px;
}
@media only screen and (max-width: 600px) {
.hub-list[data-v-62ced09a] {
    overflow-y: auto;
}
}
.hub-list__header[data-v-62ced09a] {
  color: #d8d8d8;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-weight: 500;
  margin: 16px 0;
}
.hub-list__no-hubs[data-v-62ced09a], .hub-list__item[data-v-62ced09a] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272728;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}
.hub-list__loading[data-v-62ced09a] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hub-list__no-hubs[data-v-62ced09a] {
  color: #d8d8d8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hub-list__item[data-v-62ced09a] {
  margin-bottom: 8px;
}
.hub-list__item__icon[data-v-62ced09a] {
  height: 28px;
  margin: 7px 10px 0 10px;
  width: auto;
}
.hub-list__item__address[data-v-62ced09a], .hub-list__item__address-mobile[data-v-62ced09a], .hub-list__item__select-button[data-v-62ced09a] {
  color: #44ddff;
  font-size: 16px;
}
.hub-list__item__address[data-v-62ced09a] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 600px) {
.hub-list__item__address[data-v-62ced09a] {
    display: none;
}
}
.hub-list__item__address-mobile[data-v-62ced09a] {
  display: none;
}
@media only screen and (max-width: 600px) {
.hub-list__item__address-mobile[data-v-62ced09a] {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
}
.hub-list__item__select-button[data-v-62ced09a] {
  background-color: #182d32;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 10px;
  width: 56px;
}
.hub-list__item__select-button__selected-icon[data-v-62ced09a] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 20px;
}
.select-hub[data-v-52d6742a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  margin: 26px;
}
@media only screen and (max-width: 600px) {
.select-hub[data-v-52d6742a] {
    margin: 0 10px 10px;
    overflow-y: auto;
}
}
.select-hub__udc[data-v-52d6742a], .select-hub__hub-list[data-v-52d6742a], .select-hub__token-balance[data-v-52d6742a] {
  background-color: #1e1e1e;
  border-radius: 8px;
}
.select-hub__address-input[data-v-52d6742a], .select-hub__hub-list[data-v-52d6742a], .select-hub__token-balance[data-v-52d6742a] {
  margin-top: 16px;
}
@media only screen and (max-width: 600px) {
.select-hub__address-input[data-v-52d6742a], .select-hub__hub-list[data-v-52d6742a], .select-hub__token-balance[data-v-52d6742a] {
    margin-top: 5px;
}
}
.select-hub__udc[data-v-52d6742a] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
}
.select-hub__udc__balance[data-v-52d6742a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-weight: 500;
  padding-top: 22px;
}
.select-hub__udc__balance.low-balance[data-v-52d6742a] {
  color: #ea6464;
}
.select-hub__udc__balance__deposit[data-v-52d6742a] {
  height: 32px;
  margin: 8px 0 0 6px;
}
.select-hub__udc__description[data-v-52d6742a] {
  color: #d8d8d8;
  font-size: 12px;
  padding: 4px 6px 0 0;
}
.select-hub__hub-list[data-v-52d6742a] {
  height: auto;
  padding-bottom: 16px;
}
.select-hub__token-balance[data-v-52d6742a] {
  height: 48px;
  margin-top: 16px;
}
