g[data-v-26af46f3],
path[data-v-26af46f3],
rect[data-v-26af46f3] {
  fill: #969696 !important;
}
.scanner__close-button[data-v-34465674] {
  position: absolute;
  margin: 15px;
  z-index: 1;
  right: 0;
}
@media only screen and (max-width: 600px) {
.scanner__close-button[data-v-34465674] {
    bottom: 0;
}
}
.scanner__wrapper[data-v-34465674] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (max-width: 600px) {
.scanner__wrapper[data-v-34465674] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}
.scanner__wrapper[data-v-34465674]  .v-overlay__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.scanner__progress[data-v-34465674] {
  margin-bottom: 25px;
}
.scanner__video[data-v-34465674] {
  position: relative;
  display: block;
  height: 100%;
}
.address-input[data-v-3eb2a534] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
}
.address-input__blockie[data-v-3eb2a534] {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  width: 22px;
  border: 1px solid #979797;
  background-color: #d8d8d8;
}
.address-input__availability[data-v-3eb2a534] {
  margin-right: 10px;
  height: 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}
.address-input__availability--online[data-v-3eb2a534] {
  -webkit-box-shadow: 0 0 0 2px greenyellow;
          box-shadow: 0 0 0 2px greenyellow;
}
.address-input__availability--offline[data-v-3eb2a534] {
  -webkit-box-shadow: 0 0 0 2px gray;
          box-shadow: 0 0 0 2px gray;
}
.address-input[data-v-3eb2a534]  input {
  color: #ffffff;
  caret-color: #ffffff !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  max-height: 49px;
}
.address-input[data-v-3eb2a534]  input:focus {
  outline: 0;
}
.address-input[data-v-3eb2a534]  .v-input__slot {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 8px 8px 16px;
  border: 1.5px solid transparent;
  max-height: 49px;
}
.address-input[data-v-3eb2a534]  .v-input--is-focused .v-input__slot {
  border: 1.5px solid #28a5c8;
}
.address-input[data-v-3eb2a534]  .v-text-field__details {
  padding-top: 8px;
}
.address-input[data-v-3eb2a534]  .v-text-field > .v-input__control > .v-input__slot::before, .address-input[data-v-3eb2a534]  .v-text-field > .v-input__control > .v-input__slot::after {
  border-width: 0 0 0 0;
}
.address-input[data-v-3eb2a534]  .v-messages {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  border: 1px solid transparent;
}
.address-input[data-v-3eb2a534]  .v-messages__wrapper {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 600px) {
.address-input[data-v-3eb2a534]  .v-messages__wrapper {
    padding-left: 10px;
}
}
.address-input[data-v-3eb2a534]  .v-messages__message {
  color: #646464;
  line-height: 1.1;
}
.address-input--invalid[data-v-3eb2a534]  .v-messages {
  border: none !important;
}
.address-input--invalid[data-v-3eb2a534]  .v-messages:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 90%;
  display: inline-block;
  padding: 3px;
}
.address-input--hint-visible[data-v-3eb2a534]  .v-text-field__details {
  padding-top: 0;
  margin-top: 0;
}
.address-input--untouched[data-v-3eb2a534] {
  caret-color: white !important;
  color: white !important;
}
.address-input__qr-code[data-v-3eb2a534] {
  width: 20px;
  margin: 1px 6px 0 0;
  cursor: pointer;
}
.address-input__qr-code svg[data-v-3eb2a534] {
  width: 100%;
}
.address-input__qr-code[data-v-3eb2a534]:hover  g,
.address-input__qr-code[data-v-3eb2a534]:hover  path,
.address-input__qr-code[data-v-3eb2a534]:hover  rect {
  fill: #28a5c8 !important;
}
.token-information[data-v-005e97ba] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
.token-information__details[data-v-005e97ba] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.token-information__details__address[data-v-005e97ba] {
  margin-left: 4px;
}
.token-information__balance[data-v-005e97ba] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.token-information__balance__mint[data-v-005e97ba] {
  height: 24px;
  padding-bottom: 6px;
}
