.amount-display--inline[data-v-2ea71c4a] {
  display: inline;
}
.list-header__header[data-v-a8ce650a] {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 8px;
}
.list-header__divider[data-v-a8ce650a] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1.5px solid #0a6e87;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.token-list-item[data-v-571340b6] {
  height: 105px;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
}
.token-list-item__address[data-v-571340b6] {
  color: #696969 !important;
}
.token-list-item__balance[data-v-571340b6] {
  font-size: 16px;
}
[data-v-13b4021c]::-webkit-scrollbar {
  width: 8px;
}
[data-v-13b4021c]::-webkit-scrollbar-track {
  background: #0f0e10;
}
[data-v-13b4021c]::-webkit-scrollbar-thumb {
  background: #0a6e87;
}
.themed-scrollbar[data-v-13b4021c], .token-list__wrapper[data-v-13b4021c] {
  scrollbar-color: #0a6e87 #0f0e10;
  scrollbar-width: thin;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar {
  width: 12px;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar-track, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar-track {
  background: #0f0e10;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar-thumb, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar-thumb {
  background-color: #0a6e87;
  border-radius: 20px;
  border: 3px solid #0f0e10;
}
.token-list[data-v-13b4021c] {
  height: 100%;
}
.token-list__wrapper[data-v-13b4021c] {
  overflow-y: auto;
}
