.udc-deposit-dialog[data-v-57e308c6] {
  background-color: #141414;
  border-radius: 10px !important;
  padding: 20px 20px 55px 20px;
}
.udc-deposit-dialog__balance[data-v-57e308c6] {
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.udc-deposit-dialog--progress[data-v-57e308c6] {
  margin-top: 20px;
}
.udc-deposit-dialog--progress span[data-v-57e308c6] {
  margin-top: 22px;
}
.udc-deposit-dialog--uniswap-url[data-v-57e308c6] {
  text-decoration: none;
}
.udc-deposit-dialog__close[data-v-57e308c6] {
  position: absolute;
  right: 15px;
  top: 15px;
}
