.divider[data-v-40f01099] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.divider__line[data-v-40f01099] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1.5px solid #0a6e87;
}
.token-information[data-v-005e97ba] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 16px;
  width: 100%;
}
.token-information__details[data-v-005e97ba] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.token-information__details__address[data-v-005e97ba] {
  margin-left: 4px;
}
.token-information__balance[data-v-005e97ba] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.token-information__balance__mint[data-v-005e97ba] {
  height: 24px;
  padding-bottom: 6px;
}
