/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/ActionButton.vue?vue&type=style&index=0&id=ceef3d90&lang=scss&scoped=true& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.action-button[data-v-ceef3d90] {
  border-radius: 29px;
  background-color: #28a5c8 !important;
  margin: auto;
}
.action-button[data-v-ceef3d90]:hover {
  background-color: rgba(40, 165, 200, 0.8) !important;
}
.action-button--full-width[data-v-ceef3d90] {
  width: 100% !important;
}
.action-button--sticky[data-v-ceef3d90] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 45px;
  max-height: 45px;
  font-size: 16px;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (max-width: 600px) {
.action-button--sticky[data-v-ceef3d90] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}
.action-button--angular[data-v-ceef3d90] {
  border-radius: 8px !important;
}
.action-button__loading[data-v-ceef3d90] {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.action-button__loading__indicator[data-v-ceef3d90] {
  margin-top: 4px;
  width: 100px;
}
.theme--dark .v-btn.v-btn--disabled[data-v-ceef3d90] {
  /* stylelint-disable */
  /* stylelint-enable */
}
.theme--dark .v-btn.v-btn--disabled[data-v-ceef3d90]:not(.v-btn--icon):not(.v-btn--text):not(.v-btn--outline) {
  background-color: rgba(40, 165, 200, 0.3) !important;
  color: rgba(255, 255, 255, 0.3) !important;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/views/DisclaimerRoute.vue?vue&type=style&index=0&id=78d2f1b8&lang=scss&scoped=true& ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
[data-v-78d2f1b8]::-webkit-scrollbar {
  width: 8px;
}
[data-v-78d2f1b8]::-webkit-scrollbar-track {
  background: #0f0e10;
}
[data-v-78d2f1b8]::-webkit-scrollbar-thumb {
  background: #0a6e87;
}
.themed-scrollbar[data-v-78d2f1b8], .disclaimer__content__text[data-v-78d2f1b8] {
  scrollbar-color: #0a6e87 #0f0e10;
  scrollbar-width: thin;
}
.themed-scrollbar[data-v-78d2f1b8]::-webkit-scrollbar, .disclaimer__content__text[data-v-78d2f1b8]::-webkit-scrollbar {
  width: 12px;
}
.themed-scrollbar[data-v-78d2f1b8]::-webkit-scrollbar-track, .disclaimer__content__text[data-v-78d2f1b8]::-webkit-scrollbar-track {
  background: #0f0e10;
}
.themed-scrollbar[data-v-78d2f1b8]::-webkit-scrollbar-thumb, .disclaimer__content__text[data-v-78d2f1b8]::-webkit-scrollbar-thumb {
  background-color: #0a6e87;
  border-radius: 20px;
  border: 3px solid #0f0e10;
}
.disclaimer[data-v-78d2f1b8] {
  height: 100%;
  width: 100%;
}
.disclaimer a[data-v-78d2f1b8] {
  text-decoration: none;
}
.disclaimer__content[data-v-78d2f1b8] {
  border-top: solid 1px #28a5c8;
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
  padding: 30px 45px 0 45px;
}
@media only screen and (max-width: 600px) {
.disclaimer__content[data-v-78d2f1b8] {
    padding: 10px 15px 0 15px;
}
}
.disclaimer__content__text[data-v-78d2f1b8] {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: justify;
}
.disclaimer__content__text__body[data-v-78d2f1b8], .disclaimer__content__text__imprint-terms-body[data-v-78d2f1b8], .disclaimer__content__text__bullet-points[data-v-78d2f1b8] {
  font-size: 14px;
}
.disclaimer__content__text__header[data-v-78d2f1b8] {
  font-weight: 500;
  padding-bottom: 6px;
}
.disclaimer__content__text__body[data-v-78d2f1b8], .disclaimer__content__text__imprint-terms-body[data-v-78d2f1b8] {
  padding: 0 4px 12px 0;
}
.disclaimer__content__text__bullet-points[data-v-78d2f1b8] {
  padding-bottom: 12px;
}
.disclaimer__content__accept-checkbox[data-v-78d2f1b8], .disclaimer__content__persist-checkbox[data-v-78d2f1b8] {
  flex: none;
  margin-top: 4px;
  margin-bottom: 8px;
}
.disclaimer__content__accept-checkbox[data-v-78d2f1b8]  .v-label, .disclaimer__content__persist-checkbox[data-v-78d2f1b8]  .v-label {
  font-size: 13px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/overlays/BlurredOverlay.vue?vue&type=style&index=0&id=17c098d2&scoped=true&lang=scss& ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.blurred-overlay[data-v-17c098d2] {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 10px;
  bottom: 0;
  left: 0;
  margin-top: -120px;
  position: absolute;
  right: 0;
  top: 0;
}
.blurred-overlay.fullscreen[data-v-17c098d2] {
  border-radius: 0;
  margin-top: 0;
  position: fixed;
  z-index: 101;
}
@supports (-moz-appearance: none) {
.blurred-overlay[data-v-17c098d2] {
    background-color: rgba(15, 14, 16, 0.7);
}
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/dialogs/RaidenDialog.vue?vue&type=style&index=0&id=05670622&scoped=true&lang=scss& ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
[data-v-05670622] .v-dialog {
  border-radius: 10px !important;
}
.raiden-dialog[data-v-05670622] {
  background-color: #0f0e10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
@media only screen and (max-width: 600px) {
.raiden-dialog[data-v-05670622] {
    padding: 10px;
}
}
.raiden-dialog[data-v-05670622]  .v-card__title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  justify-content: center;
  text-align: center;
  word-break: normal;
}
.raiden-dialog[data-v-05670622]  .v-card__text {
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
}
.raiden-dialog__close[data-v-05670622] {
  position: absolute;
  right: 15px;
  top: 15px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/icons/Spinner.vue?vue&type=style&index=0&id=c1597bb8&scoped=true&lang=scss& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.spinner--blocking[data-v-c1597bb8] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner__circle[data-v-c1597bb8] {
  border: solid transparent;
  border-top: solid #28a5c8;
  border-radius: 50%;
  animation: spinning-data-v-c1597bb8 1s linear infinite;
}
@keyframes spinning-data-v-c1597bb8 {
0% {
    transform: rotate(0deg);
}
60% {
    transform: rotate(270deg);
}
100% {
    transform: rotate(360deg);
}
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/ConnectionManager.vue?vue&type=style&index=0&id=22e2536f&lang=scss&scoped=true& ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.connection-manager[data-v-22e2536f] {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}
.connection-manager__error-message[data-v-22e2536f] {
  min-height: 70px;
  margin: 0 90px;
}
@media only screen and (max-width: 600px) {
.connection-manager__error-message[data-v-22e2536f] {
    margin: 0 10px;
}
}
.connection-manager__error-message--hidden[data-v-22e2536f] {
  visibility: hidden;
}
@media only screen and (max-width: 600px) {
.connection-manager__error-message--hidden[data-v-22e2536f] {
    display: none;
}
}
.connection-manager__provider-dialog-button[data-v-22e2536f] {
  margin: 10px 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/views/Home.vue?vue&type=style&index=0&id=fae5bece&lang=scss&scoped=true& ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home[data-v-fae5bece] {
  width: 100%;
  height: 100% !important;
}
@media only screen and (max-width: 600px) {
.home[data-v-fae5bece] {
    padding: 0 10px;
    overflow-y: auto !important;
}
}
.home[data-v-fae5bece]  a {
  text-decoration: none;
}
.home__logo-container[data-v-fae5bece] {
  display: flex;
  justify-content: center;
}
.home__logo-container__logo[data-v-fae5bece] {
  filter: invert(100%);
  max-width: 6rem;
}
.home__app-welcome[data-v-fae5bece] {
  font-size: 24px;
  margin-top: 60px;
}
.home__disclaimer[data-v-fae5bece], .home__getting-started[data-v-fae5bece] {
  font-size: 16px;
  line-height: 20px;
  margin: 30px 130px 0 130px;
}
@media only screen and (max-width: 600px) {
.home__disclaimer[data-v-fae5bece], .home__getting-started[data-v-fae5bece] {
    margin: 30px 20px 0 20px;
}
}
.home__getting-started[data-v-fae5bece] {
  margin-top: 20px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/HeaderContent.vue?vue&type=style&index=0&id=7da3ef2c&lang=scss&scoped=true& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header-content[data-v-7da3ef2c] {
  margin: 20px 20px;
}
@media only screen and (max-width: 600px) {
.header-content[data-v-7da3ef2c] {
    margin: 10px 10px;
}
}
.header-content__title[data-v-7da3ef2c] {
  align-items: center;
  display: flex;
  flex: 3;
  flex-direction: column;
}
.header-content__title__route[data-v-7da3ef2c] {
  display: flex;
}
.header-content__title__route__name[data-v-7da3ef2c] {
  color: #ffffff;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
.header-content__title__route__name[data-v-7da3ef2c] {
    font-size: 20px;
}
}
.header-content__title__route__info[data-v-7da3ef2c] {
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
.header-content__title__route__info[data-v-7da3ef2c] {
    margin-left: 3px;
}
}
.header-content__title__network[data-v-7da3ef2c] {
  color: #646464;
  font-size: 12px;
  font-weight: 500;
  margin-top: -7px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/HeaderIdenticon.vue?vue&type=style&index=0&id=f6822348&scoped=true&lang=scss& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.no-shadow[data-v-f6822348] {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}
.indenticon[data-v-f6822348] {
  height: 50px;
  width: 50px;
  border: 1px solid #979797;
  background-color: #d8d8d8;
}
.pending-chip[data-v-f6822348] {
  background-color: rgba(253, 211, 39, 0.3) !important;
}
.success-chip[data-v-f6822348] {
  background-color: rgba(29, 197, 18, 0.3) !important;
}
.failed-chip[data-v-f6822348] {
  background-color: rgba(234, 100, 100, 0.3) !important;
}
.header-identicon__blockie[data-v-f6822348] {
  border-radius: 50%;
  box-sizing: border-box;
  height: 36px;
  width: 36px;
  border: 1px solid #ffffff;
  background-color: #d8d8d8;
}
.header-identicon__blockie__grayscale[data-v-f6822348] {
  filter: grayscale(1);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/overlays/InfoOverlay.vue?vue&type=style&index=0&id=10bf9a74&lang=scss&scoped=true& ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.info-overlay[data-v-10bf9a74] {
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 844px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 102;
}
@media only screen and (max-width: 600px) {
.info-overlay[data-v-10bf9a74] {
    border-radius: 0;
    height: 100vh;
}
}
.info-overlay__content[data-v-10bf9a74] {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 36px;
}
.info-overlay__content__header[data-v-10bf9a74] {
  display: flex;
  height: 80px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
.info-overlay__content__header[data-v-10bf9a74] {
    height: 60px;
}
}
.info-overlay__content__close-icon[data-v-10bf9a74] {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.info-overlay__content__image[data-v-10bf9a74] {
  padding-top: 46px;
  height: auto;
  width: 300px;
}
.info-overlay__content__title[data-v-10bf9a74] {
  font-size: 24px;
  margin: 36px 0;
  text-align: center;
}
.info-overlay__content__body[data-v-10bf9a74] {
  font-size: 19px;
  text-align: center;
}
.info-overlay__content__button[data-v-10bf9a74] {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 98px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
.info-overlay__content__button[data-v-10bf9a74] {
    padding: 36px 0;
}
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/AppHeader.vue?vue&type=style&index=0&id=bb50a5e4&lang=scss&scoped=true& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.app-header[data-v-bb50a5e4] {
  display: flex;
  height: 70px;
  position: relative;
}
.app-header__content__icons[data-v-bb50a5e4] {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
.app-header__content__icons__notifications-button[data-v-bb50a5e4] {
    margin-right: -10px;
}
}
.app-header__content__icons__identicon[data-v-bb50a5e4] {
  cursor: pointer;
  margin-left: 15px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/notification-panel/NotificationSnackbar.vue?vue&type=style&index=0&id=02e9341d&scoped=true&lang=scss& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.notification-snackbar__area[data-v-02e9341d] {
  display: flex;
  cursor: pointer;
}
.notification-snackbar__area__title[data-v-02e9341d] {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 2px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/ReceivingOngoingSnackbar.vue?vue&type=style&index=0&id=54c7c2d0&scoped=true&lang=scss& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
[data-v-54c7c2d0] .v-snack__content {
  text-align: center;
}
.delay-leave-active[data-v-54c7c2d0] {
  transition-delay: 1.5s;
}
.receiving-ongoing-snackbar__warning[data-v-54c7c2d0] {
  font-size: 16px;
  margin-left: 8px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/VersionSnackbar.vue?vue&type=style&index=0&id=e45dd506&lang=scss&scoped=true& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.version-snackbar__message[data-v-e45dd506] {
  text-align: justify;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/App.vue?vue&type=style&index=0&id=7ba5bd90&lang=scss&scoped=true& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slide-enter-active[data-v-7ba5bd90] {
  animation: slide-in-data-v-7ba5bd90 0.5s;
}
.slide-leave-active[data-v-7ba5bd90] {
  animation: slide-in-data-v-7ba5bd90 0.5s reverse;
}
@keyframes slide-in-data-v-7ba5bd90 {
0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}
.v-application[data-v-7ba5bd90] {
  background: linear-gradient(90deg, #313030 0%, #000000 100%) !important;
}
@media only screen and (max-width: 600px) {
.v-application[data-v-7ba5bd90] {
    background: #0f0e10 !important;
}
}
#application-wrapper[data-v-7ba5bd90] {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
#application-content[data-v-7ba5bd90] {
  background-color: #0f0e10;
  border-radius: 10px;
  height: 844px;
  margin-top: 25px;
  width: 620px;
}
@media only screen and (max-width: 600px) {
#application-content[data-v-7ba5bd90] {
    border-radius: 0;
    height: 100vh;
    margin-top: 0;
    width: 100%;
    scrollbar-width: none !important;
}
#application-content[data-v-7ba5bd90]::-webkit-scrollbar {
    display: none !important;
}
}
.v-main[data-v-7ba5bd90] {
  height: calc(100% - 70px);
  margin-bottom: auto;
}
.container[data-v-7ba5bd90] {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 !important;
}
@media only screen and (max-width: 600px) {
.container[data-v-7ba5bd90] {
    overflow-y: auto;
}
}
.imprint[data-v-7ba5bd90] {
  font-size: 13px;
  margin: 15px auto 15px auto;
}
.imprint a[data-v-7ba5bd90] {
  color: #646464;
  text-decoration: none;
}
