/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/ListHeader.vue?vue&type=style&index=0&id=a8ce650a&scoped=true&lang=scss& ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.list-header__header[data-v-a8ce650a] {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 8px;
}
.list-header__divider[data-v-a8ce650a] {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1.5px solid #0a6e87;
  transform: scaleY(-1);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/AddressDisplay.vue?vue&type=style&index=0&id=0911415e&lang=scss&scoped=true& ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.address__container[data-v-0911415e] {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
}
.address__container--full-width[data-v-0911415e] {
  width: 100%;
}
.address__tooltip[data-v-0911415e] {
  text-align: center;
}
.address__label[data-v-0911415e] {
  cursor: pointer;
  margin: 0;
  border-radius: 3px;
}
.address__label[data-v-0911415e]:hover {
  background-color: #0a6e87;
  color: #ffffff;
}
.address__input[data-v-0911415e] {
  color: #ffffff;
  width: 340px;
  text-align: center;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[1]!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[3]!../node_modules/vuetify/src/components/VTooltip/VTooltip.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************/
.v-tooltip {
  display: none;
}
.v-tooltip--attached {
  display: inline;
}
.v-tooltip__content {
  background: rgba(97, 97, 97, 0.9);
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  padding: 5px 16px;
  position: absolute;
  text-transform: initial;
  width: auto;
  opacity: 0;
  pointer-events: none;
}
.v-tooltip__content.menuable__content__active {
  opacity: 0.9;
}
.v-tooltip__content--fixed {
  position: fixed;
}
.v-tooltip__content[class*=-active] {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.v-tooltip__content[class*=enter-active] {
  transition-duration: 150ms;
}
.v-tooltip__content[class*=leave-active] {
  transition-duration: 75ms;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/AmountDisplay.vue?vue&type=style&index=0&id=2ea71c4a&lang=scss&scoped=true& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.amount-display[data-v-2ea71c4a] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.amount-display--inline[data-v-2ea71c4a] {
  display: inline;
}
.amount-display--full-width[data-v-2ea71c4a] {
  width: 100%;
}
.amount-display__formatted-amount--warning[data-v-2ea71c4a] {
  color: #ea6464;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/tokens/TokenListItem.vue?vue&type=style&index=0&id=571340b6&lang=scss&scoped=true& ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.token-list-item[data-v-571340b6] {
  height: 105px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
}
.token-list-item__address[data-v-571340b6] {
  color: #696969 !important;
}
.token-list-item__balance[data-v-571340b6] {
  font-size: 16px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/components/tokens/TokenList.vue?vue&type=style&index=0&id=13b4021c&lang=scss&scoped=true& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
[data-v-13b4021c]::-webkit-scrollbar {
  width: 8px;
}
[data-v-13b4021c]::-webkit-scrollbar-track {
  background: #0f0e10;
}
[data-v-13b4021c]::-webkit-scrollbar-thumb {
  background: #0a6e87;
}
.themed-scrollbar[data-v-13b4021c], .token-list__wrapper[data-v-13b4021c] {
  scrollbar-color: #0a6e87 #0f0e10;
  scrollbar-width: thin;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar {
  width: 12px;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar-track, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar-track {
  background: #0f0e10;
}
.themed-scrollbar[data-v-13b4021c]::-webkit-scrollbar-thumb, .token-list__wrapper[data-v-13b4021c]::-webkit-scrollbar-thumb {
  background-color: #0a6e87;
  border-radius: 20px;
  border: 3px solid #0f0e10;
}
.token-list[data-v-13b4021c] {
  height: 100%;
}
.token-list__wrapper[data-v-13b4021c] {
  overflow-y: auto;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[1]!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-29[0].rules[0].use[3]!../node_modules/vuetify/src/components/VVirtualScroll/VVirtualScroll.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************/
.v-virtual-scroll {
  display: block;
  flex: 1 1 auto;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;
}
.v-virtual-scroll__container {
  display: block;
}
.v-virtual-scroll__item {
  left: 0;
  position: absolute;
  right: 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[1]!../node_modules/@vue/vue-loader-v15/lib/loaders/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22[0].rules[0].use[3]!../node_modules/@vue/vue-loader-v15/lib/index.js??vue-loader-options!./src/views/SelectTokenRoute.vue?vue&type=style&index=0&id=675b47b4&lang=scss&scoped=true& ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.select-token[data-v-675b47b4] {
  height: 100%;
}
