@import "colors";

.confirm-button {
  height: 40px;
  width: 250px;
  border-radius: 29px;
  background-color: $primary-color !important;
}

/deep/ .v-btn--disabled {
  background-color: $primary-color !important;
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
  background-color: $primary-disabled-color !important;
  color: $disabled-text-color !important;
}

.confirm-button:hover {
  background-color: #0e0e0e !important;
}
