// Please also check plugins/vuetify.ts for theme colors
$primary-color: #28a5c8;
$primary-disabled-color: rgba($primary-color, 0.3);
$secondary-color: #0a6e87;
$disabled-text-color: rgba(255, 255, 255, 0.3);

$secondary-text-color: #646464;
$text-color: #969696;

$error-color: #ea6464;
$transfer-form-color: rgba(88, 88, 88, 0.25);

$error-tooltip-background: #1e1e21;
$input-background: rgba(255, 255, 255, 0.1);
$card-background: #0f0e10;
$notification-card-background: #232323;
$secondary-button-color: #323232;
$secondary-button-color-disabled: rgba($secondary-button-color, 0.3);

$dialog-background: $secondary-button-color;
$error-indicator-color: $error-tooltip-background;
$token-entry-background: $error-tooltip-background;
$token-entry-hover-background: darken($error-tooltip-background, 1%);
$expanded-area-background: $secondary-button-color;
$background-gradient: linear-gradient(90deg, #313030 0%, #000000 100%);

// Color vars
$color-white: #ffffff;
$color-gray: #d8d8d8;
