@import "./mixins.scss";

$dialog-margin: 10px;
$dialog-card-title-padding: 10px 10px 10px;
$dialog-card-subtitle-padding: 0 10px 10px;
$dialog-card-text-padding: 0 10px 10px;
$dialog-card-actions-padding: 10px;

$list-item-padding: 10px;
