.download-state__warning[data-v-7bee494c] {
  height: 105px;
  width: 120px;
  margin: 0 auto;
}
.upload-state__error[data-v-529d8d01] {
  color: #ea6464;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  height: 307px;
}
.upload-state__dropzone[data-v-529d8d01] {
  border: dashed 2px #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  margin: 0 auto;
  width: 300px;
}
.upload-state__dropzone__icon--inactive-dropzone[data-v-529d8d01] {
  color: #323232;
}
.upload-state__dropzone__icon--active-dropzone[data-v-529d8d01] {
  color: #28a5c8;
}
.upload-state__dropzone__description[data-v-529d8d01] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.upload-state__dropzone__button[data-v-529d8d01] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 10px 0 25px 2px;
}
.active-dropzone[data-v-529d8d01] {
  border: dashed 2px #28a5c8;
}
.backup-state__description[data-v-18265e43] {
  color: #ffffff;
  font-size: 16px;
  padding: 50px 100px 0 100px;
  text-align: center;
}
.backup-state__buttons[data-v-18265e43] {
  background-color: transparent;
  margin: 0 auto;
  padding-top: 100px;
  width: 283px;
}
.backup-state__buttons__download-state[data-v-18265e43], .backup-state__buttons__upload-state[data-v-18265e43] {
  border: solid 2px #646464;
  border-radius: 15px;
  height: 132px;
  margin-bottom: 35px;
}
.backup-state__buttons__download-state__icon[data-v-18265e43], .backup-state__buttons__upload-state__icon[data-v-18265e43] {
  padding: 0 10px 0 15px;
  width: 110px;
}
.backup-state__buttons__download-state .disabled-icon[data-v-18265e43], .backup-state__buttons__upload-state .disabled-icon[data-v-18265e43] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.backup-state__buttons__download-state__title[data-v-18265e43], .backup-state__buttons__upload-state__title[data-v-18265e43] {
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  text-align: center;
  max-width: 110px;
}
