@import '../main';

.screen-title {
  margin-top: 30px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  @include respond-to(handhelds) {
    margin-top: 20px;
  }
}

.divider {
  box-sizing: border-box;
  height: 1px;
  width: 500px;
  border: 1px solid #696969;
}

.information {
  padding-bottom: 34px;
  padding-top: 34px;
  .information-label {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .information-description {
    margin-top: 12px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  @include respond-to(handhelds) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.confirm-button {
  margin-top: 105px;
  height: 40px;
  width: 250px;
  border-radius: 29px;
  background-color: #000000 !important;
  @include respond-to(handhelds) {
    margin-top: 18px;
  }
}

.confirm-button:hover {
  background-color: #0e0e0e !important;
}
