@import '../main';
@import "button";

.screen-title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  @include respond-to(handhelds) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.divider {
  box-sizing: border-box;
  height: 1px;
  width: 500px;
  border: 1px solid #696969;
}

.information {
  .information-label {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .information-description {
    margin-top: 12px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  @include respond-to(handhelds) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}



form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
