.screen-title {
  margin-top: 30px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.divider {
  box-sizing: border-box;
  height: 1px;
  width: 500px;
  border: 1px solid #696969;
}

.information {
  padding-bottom: 34px;
  padding-top: 34px;
  .information-label {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .information-description {
    margin-top: 12px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
  }
}
